@use './desktop/desktop.scss';
@use './mobile/mobile.scss';

@use './_common.scss';

html {
  font-family: "Noto Sans", "Arial", sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: common.$bgColor;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: "-   ";
  padding-inline-start: 2vh;
  text-align: justify;
}





//  NOTE: Badges

.badge {
  @extend .center;
  flex-shrink: 0;
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
}

.badge__text {
  font-family: "Jetbrains Mono", monospace;
  font-weight: 600;
  height: fit-content;
}
